{%extends 'base.html'%}
{% load i18n %}
{%block content%}
<h1>{% trans "Basket" %}</h1>
<div>
{% if error %}<h3>{{ error }}</h3>{% endif %}

{% if basket %}
<table width='100%'>
	<tr>
		<td><b>{% trans "Product" %}</b></td>
		<td><b>{% trans "Price" %}</b></td>
		<td><b>{% trans "Total Price" %}</b></td>
		<td style='width:100px'><b>{% trans "Count" %}</b></td>
		<td style='width:100px'><b>{% trans "Save" %}</b></td>
		<td style='width:100px'><b>{% trans "Delete" %}</b></td>
	</tr>
	{% for item in basket %}
		<tr>
			<form method='POST' action='{% url basket %}'> 
			{% csrf_token %}
				<td>{{ item.product.name }}</td>
				<td>{{ item.product.price }}</td>
				<td>{{ item.total_price }}</td>
				<td style='width:100px'>
					<input type='hidden' name='basket_id' value='{{ item.id }}'>
					<input name='count' type='number' min='0' value='{{ item.count }}' style='width:80px'>
				</td>
				<td style='width:100px'><input name='save' type="submit" value="{% trans "Save" %}" style='margin: 0px;'></td>
				<td style='width:100px'><input name='delet' type="submit" value="{% trans "Delete" %}" style='margin: 0px;'></td>
			</form>
		</tr>
	{% endfor %}
</table>
<p>{% trans "Total" %}: <b>{{total_price}}</b></p>
<div class='contacts'>
	<h3>{% trans "Checkout" %}</h3>
	<form method="post" action="{% url order %}">
		{% csrf_token %}
		{{ form.errors }}
		{% for field in form %}
			{{ field.id }}
			<ul>
				<li>{{ field.label }}</li>
				<li>{{ field }}</li>
			</ul>
		{% endfor %}
		<input type="submit" value="{% trans "Checkout" %}">
	</form>
</div>
{% else %}
	<h3>{% trans "Your basket is empty!" %}</h3>
{% endif %}
</div>
{%endblock%}