{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}
{% load bucket %}
{% load i18n %}
{% load catalog_tags %}
{% load breadcrumbs %}

{% block content %}

{% breadcrumbs category %}

<h1>{% firstof seo.header category.name %}</h1>

{% catalog %}


<div class="b-sort">
	<span class="b-sort__title">Сортировать по:</span>
	<span class="b-sort__elem m-sort_date_down">Дате ↓</span>
	<span class="b-sort__elem m-sort_date_up">Дате ↑</span>
	<span class="b-sort__elem m-sort_price_down">Цене ↓</span>
	<span class="b-sort__elem m-sort_price_up">Цене ↑</span>
</div>

{% spaceless %}

{% if category.childs_count %}
<div class='b-sub-catigories'>
	<h3>{% trans "Sub categories" %}</h3>
	{% for sub_category in category.get_childs %}
		<a class='b-sub-catigory_link' href='{{ sub_category.get_absolute_url }}'>
			{{ sub_category.name }}
			<span>({{ sub_category.products_count }})</span>
		</a>
		{% if forloop.last %}.{% else %},{% endif %}
	{% endfor %}
</div>
{% endif %}

{% endspaceless %}

<div class='b-products'>





	{# {% for product in category.get_products %} #}
	{% for product in pages_list %}
		<div class='b-product'
			data-price='{{ product.retail_price_with_discount|floatformat:0 }}'
			data-created='{{ product.created_at|date:"U" }}'
			>
			{% thumbnail product.cover "370x260" crop="center" as im %}
				<img class='b-product__cover' src='{{ im.url }}' alt='{{ product.name }}'>
			{% empty %}
				<img class='b-product__cover' src='{% static "catalog/img/cover-picture.png" %}' alt='{{ product.name }}'>
			{% endthumbnail %}

			<a class='b-product__name' href='{{ product.get_absolute_url }}'>{{ product.name }}</a>

			<div class='b-product__price'>
				{{ product.retail_price_with_discount|floatformat:0 }}
			</div>

			{% include "accounts/bucket__widget.html" with obj=product %}

		</div><!-- b-product -->

	{% endfor %}
</div><!-- b-products -->

{% include "pages/__blocks/paginator.html" %}

<script type="text/javascript">
	$('.b-sort__elem').on('click', function() {
		$('.b-sort__elem').removeClass('m-sort_current');
		$(this).addClass('m-sort_current');
	});

	$('.m-sort_date_down').on('click', function() {
		$('.b-product').sort(function (a, b) {
			var contentA = parseInt( $(a).data('created'));
			var contentB = parseInt( $(b).data('created'));
			return (contentA > contentB) ? -1 : (contentA < contentB) ? 1 : 0;
		}).each(function(){
			$('.b-products').prepend(this);
		});
	});

	$('.m-sort_date_up').on('click', function() {
		$('.b-product').sort(function (a, b) {
			var contentA = parseInt( $(a).data('created'));
			var contentB = parseInt( $(b).data('created'));
			return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
		}).each(function(){
			$('.b-products').prepend(this);
		});
	});

	$('.m-sort_price_down').on('click', function() {
		$('.b-product').sort(function (a, b) {
			var contentA = parseInt( $(a).data('price'));
			var contentB = parseInt( $(b).data('price'));
			return (contentA > contentB) ? -1 : (contentA < contentB) ? 1 : 0;
		}).each(function(){
			$('.b-products').prepend(this);
		});
	});

	$('.m-sort_price_up').on('click', function() {
		$('.b-product').sort(function (a, b) {
			var contentA = parseInt( $(a).data('price'));
			var contentB = parseInt( $(b).data('price'));
			return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
		}).each(function(){
			$('.b-products').prepend(this);
		});
	});

</script>


{% endblock %}