{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}
{% load bucket %}
{% load i18n %}
{% load catalog_tags %}
{% load breadcrumbs %}

{% block content %}

{% breadcrumbs category %}

<h1>{% firstof seo.header category.name %}</h1>

{% catalog %}


<div class='b-products'>

{% spaceless %}

{% if category.childs_count %}
<div class='b-sub-catigories'>
	<h3>{% trans "Sub categories" %}</h3>
	{% for sub_category in category.get_childs %}
		<a class='b-sub-catigory_link' href='{{ sub_category.get_absolute_url }}'>
			{{ sub_category.name }}
			<span>({{ sub_category.products_count }})</span>
		</a>
		{% if forloop.last %}.{% else %},{% endif %}
	{% endfor %}
</div>
{% endif %}

{% endspaceless %}


	{% for product in category.get_products %}
		<div class='b-product'>
			{% thumbnail product.cover "370x260" crop="center" as im %}
				<img class='b-product__cover' src='{{ im.url }}' alt='{{ product.name }}'>
			{% empty %}
				<img class='b-product__cover' src='{% static "catalog/img/cover-picture.png" %}' alt='{{ product.name }}'>
			{% endthumbnail %}

			<a class='b-product__name' href='{{ product.get_absolute_url }}'>{{ product.name }}</a>

			<div class='b-product__price'>
				{{ product.retail_price_with_discount|floatformat:0 }}
			</div>

			{% include "accounts/bucket__widget.html" with obj=product %}

		</div><!-- b-product -->

	{% endfor %}
</div><!-- b-products -->


{% endblock %}