{% load getitem %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{form_subject.title}}</title>
	</head>
	<body style='line-height: 1.5;'>
		<h1>{{form_subject.title}}</h1>
		{% for field in form %}
			<b>{{ field.label }}:</b> {{formdate|getitem:field.name}}<br>
		{% endfor %}
	<table>
		<tr>
			<td><b>{% trans "Product" %}</b></td>
			<td><b>{% trans "Price" %}</b></td>
			<td><b>{% trans "Count" %}</b></td>
			<td><b>{% trans "Total Price" %}</b></td>
		</tr>
		{% for item in basket %}
		<tr>
			<td>{{ item.product.name }}</td>
			<td>{{ item.product.price }}</td>
			<td>{{ item.count }}</td>
			<td>{{ item.total_price }}</td>
		</tr>
		{% endfor %}
	</table>
	<h3>{% trans "Total Price" %}: {{ total_price }}</h3>
	</body>
</html>