{%extends 'base.html'%}
{% load i18n %}
{%block content%}
	<h1>{% trans "Checkout" %}</h1>
	{% if empty %}
		<h3>{% trans "Your basket is empty!" %}</h3>
	{% else %}
		{% if ok %}
			{% blocktrans %}
				Tnx! We will call you...
			{% endblocktrans %}
		{% else %}
			<div class='contacts'>
				<h3>{% trans "Checkout" %}</h3>
				<form method="post" action="{% url order %}">
					{% csrf_token %}
					{{ form.errors }}
					{% for field in form %}
						{{ field.id }}
						<ul>
							<li>{{ field.label }}</li>
							<li>{{ field }}</li>
						</ul>
					{% endfor %}
					<input type="submit" value="{% trans "Checkout" %}">
				</form>
			</div>
		{% endif %}
	{% endif %}
{%endblock%}